<div class="container wrapperTopHeader">
    <header class="topHeader">
        <div class="row-fluid">
            <div class="span2">
                <a href="http://edmunds.mashery.com" title="Edmunds API" class="topLogo">&nbsp;</a>
            </div>
            <div class="span10 navbar">
                <nav class="navbar-inner headerLinks">
                    <div class="register">
                        <img src="{{ PATH }}/assets/themes/twitter/img/icon_user.gif" alt="User">
                        <a href="http://edmunds.mashery.com/member/my-account" title="Sign in">My Account</a>
                    </div>
                    <ul class="nav">
                        <li><a href="http://edmunds.mashery.com/io-docs" title="Blog">API Console</a></li>
                        <li><a href="http://edmunds.statuspage.io" title="API Affiliate Network">API Status</a></li>
                        <li><a href="https://tier3.wufoo.com/forms/q8wdmmf0iah3h4/" onclick="window.open(this.href,  null, 'height=1155, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Contact Us</a></li>
                        <li><a href="http://edmunds.mashery.com/terms_of_service" title="Terms of user">Terms of Service</a></li>
                        <li><a href="http://edmunds.mashery.com/api_branding_guide" title="API Branding Guide">API Branding Guide</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>